{% extends 'backendindex.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
    <div class="main-panel">
    <div class="content-wrapper"> Hello </div>
{% endblock %}
