<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title> {% block  title %} back_end Homepage {% endblock %}</title>
        {% block head %} {% include ('back_end/head.html.twig') %}{% endblock %}
    </head>


    <body>
        {% block header %} {% include ('back_end/header.html.twig') %}{% endblock %}
        {% block sidebar %} {% include ('back_end/sidebar.html.twig') %}{% endblock %}
        {% block body %} {% endblock %}
        {% block footer %} {% include ('back_end/footer.html.twig') %}{% endblock %}
    </body>
</html>