	
	<div class="ubea-loader"></div>
	
	<div id="page">
	<nav class="ubea-nav" role="navigation">
		<div class="ubea-container">
			<div class="row">
				<div class="col-sm-2 col-xs-12">
					<div id="ubea-logo"><a href="index.html">uBeasa <em>.</em></a></div>
				</div>
				<div class="col-xs-10 text-right menu-1 main-nav">
					<ul>
						<li class="active"><a href="#" data-nav-section="home">Home</a></li>
						<li><a href="#" data-nav-section="services">Services</a></li>
						<li><a href="#" data-nav-section="portfolio">Portfolio</a></li>
                        <li><a href="#" data-nav-section="about">About us</a></li>
						<li><a href="#" data-nav-section="contact">Contact</a></li>
						<li><a href="https://www.freshdesignweb.com/" class="external">External</a></li>
					</ul>
				</div>
			</div>
			
		</div>
	</nav>