 <!-- Start slider -->
  <section id="slider">
    <div class="main-slider">
    {% for rs in slider %}
      <div class="single-slide">
        <img src="{{ asset('uploads/images/' ~ rs.image) }}" style="height: 618px; width= 1280px">
        <div class="slide-content">
          <div class="container">
            <div class="row">
              <div class="col-md-6 col-sm-6">
                <div class="slide-article">
                  <h1 class="wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.5s">{{rs.title}}</h1>
                  <p class="wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.75s">{{rs.description}}</p>
                  <a class="read-more-btn wow fadeInUp" data-wow-duration="1s" data-wow-delay="1s" href="#">Read More</a>
                </div>
              </div>
              <!--<div class="col-md-6 col-sm-6">
                <div class="slider-img wow fadeInUp">
                  <img src="{{asset('assets2')}}/images/person1.png" alt="business man">
                </div>
              </div> -->
            </div>
          </div>
        </div>
      </div>
      {% endfor %}         
    </div>
  </section>
  <!-- End slider -->
